@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Ta strona zbiera opinie społeczności różnych gier planszowych w formie kulturalnych dyskusji na forum.</p>
    <p>Prośby o otwarcie wątków prosimy kierować do administracji :)</p>
</div>
