@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <div class="text-center waviy">
       <span style="--i:1">W</span>
       <span style="--i:2">I</span>
       <span style="--i:3">T</span>
       <span style="--i:4">A</span>
       <span style="--i:5">J</span>
       <span style="--i:6">!</span>
    </div>
    <p>Szukasz nowej gry na wspólne wieczory z rodziną? A może chcesz znaleźć grę, która przełamie pierwsze lody z nowymi znajomymi? 
       Niezależnie od tego co jest Twoim celem, na naszej stronie na pewno znajdziesz to czego szukasz!
       Zbieramy opinie na temat każdej gry planszowej, żebyś już nigdy nie musiał kupować gry w ciemno.</p>
    <p>Prośby o otwarcie wątków prosimy kierować do administracji :)</p>
</div>